img {
    height: auto;
    max-width: 10%;
  }

body {
    background-color: #656d4a;
    font-family: sans-serif;
}

.fcf-body {
    font-family: 1;
    font-size: 1rem;
    font-weight: 400;
    color: blueviolet;
    text-align: left;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color: #5dade2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.navbar {
    float: left;
    background-color: #7f5539;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2%;
    padding-top: 1%;
    border-radius: 25px;
    word-wrap: break-word;
    text-decoration: none;
}
.navItem{
    text-decoration: none;
    color: inherit;
}
header {
    justify-content: center;
    text-align: center;
}

main {
    float: left;
}